@{
    ViewData["Title"] = "(De)Obfuscate password";
}

<link rel="stylesheet" href="~/css/PasswordDecorder.css" />

<div class="text-center">
	<h1 class="display-4">(De)Obfuscate password</h1>
	<input type="text" name="password"/>
	<p>
		<button onclick="obfuscatePassword()">Obfuscate</button>
		<button onclick="DeObfuscatePassword()">DeObfuscate</button>
	</p>
    <p name="result"></p>
</div>

<script src="~/js/PasswordDecorder.js" asp-append-version="true"></script>